extends layout

block content
    if !(posts && posts.length)
      p Nothing to see here. Move along...
    else
      ul.posts
         each post in posts
            li
               h2
                  a(href="/post/#{post.id}")= post.title